.singlePost{
    flex: 9;
}


.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
}

.singlePostImg{
    width: 1500px;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;

}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-family: 'Inter', sans-serif;
font-family: 'Montaga', serif;
font-family: 'Playfair Display', serif;
font-family: 'Tajawal', sans-serif;
font-family: 'Tinos', serif;
}

.singlePostEdit{
    float: right;
    font-size: 16px;

}

.singlePostIcon{
    margin-top: 800px;
   
}

.singlePostIcon:first-child{
    color: rgb(66, 19, 19);
}

.singlePostIcon:last-child{
    color: rgb(78, 1, 1);
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.singlePostDesc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}

.singlePostDesc:first-letter{
margin-left: 20px;
font-size: 30px;
font-weight: 600;
}
.delete {
    transition-duration: 0.4s;
    font-weight: bolder;
    border: none;
    color: rgb(0, 255, 34);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .delete:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }