

.post{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 280px;
    
    box-decoration-break: slice;-webkit-box-decoration-break: slice;box-shadow: 8px 8px 10px 0 #f5e82f, -5px -5px 5px 0 rgb(35, 241, 52), 5px 5px 15px 0 #ff0;
    
}


.postImg{
    width: 70%;
    height: 200px;
    margin-left: 17%;
    border-radius: 7px;
   
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Tajawal', sans-serif;

}

.postCat{
    font-size: 11px;
    color: darkgoldenrod;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Tajawal', sans-serif;
}

.postTitle{
    font-family: 'Nanum Myeongjo', serif;
font-size: 24px;
font-weight: 700;
margin-top: 15px;
cursor: pointer;
}

.postDate{
    font-size: 12px;
    color: #999;
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Tinos', serif;
    
}

.postDesc{
    font-size: 20px;
    color: #444;
    line-height:24px ;
    margin-top: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
   
}